<div class="allpage">
  <span class="dot1"></span>
  <span class="dot2"></span>
  <span class="dot3"></span>
  <div class="logo">
    <img src="assets/icon/logo.png" width="110" alt="">
</div>
<div class="logincontain">
  <div class="lll titr formtit">Login</div>
    <div class="lll titr">Email</div>

      <div class="uk-inline lll">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input  name="email" class="uk-input int" type="text" aria-label="Not clickable icon">
      </div>

  <div class="lll  titr">Password</div>

    <div class="uk-inline lll int">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <input  name="password"  class="uk-input int" type="password" aria-label="Not clickable icon">
    </div>
  
    <button  mat-flat-button class="cbtn lll" color="primary" >Log in</button>
   
   
           <div class="sinsin">Don't have an account ? <a routerLink="/signup">Sign up</a></div>
           

         
</div>
</div>