

<ion-content [fullscreen]="true">

  <div class="header">
    <div class="logoname"><div class="userimage"><img src="assets/icon/logo.png" alt=""></div><div>Tounazour</div></div>
   <div class="searchicon">
  </div>
  </div>


  <div class="welcom-tona">
      <div class="goodmornign">Hello, Touna</div>
      <div class="location"> <i class="uil uil-location-pin-alt"></i> Taroudant</div>

    

        <div class="uk-margin">
          <form class="uk-search uk-search-default ll">
              <span class="uk-search-icon-flip" uk-search-icon></span>
              <input class="uk-search-input lll" type="search" placeholder="Search" aria-label="Search">
          </form>
      </div>
      
  </div>

  <div class="menu">

    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="itemmenu"></div>
        </ion-col>
        <ion-col>
          <div class="itemmenu"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="itemmenu"></div>
        </ion-col>
        <ion-col>
          <div class="itemmenu"></div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
